.frameChild {
  width: 472.1px;
  height: 325.5px;
  position: relative;
  border-radius: var(--br-xs-3);
  object-fit: cover;
  flex-shrink: 0;
  z-index: 2;
}
.exploreNow,
.title {
  width: 196.3px;
  height: 20.4px;
  position: relative;
  letter-spacing: -0.04em;
  line-height: 20.4px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.exploreNow {
  width: 83.7px;
  height: 18.7px;
  font-size: var(--font-size-sm-6);
  line-height: 28.3px;
  color: var(--color-gray-300);
}
.titleParent {
  height: 43px;
  width: 195.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs-9);
}
.frameItem {
  width: 18.1px;
  height: 12.5px;
  position: relative;
}
.frameParent,
.frameWrapper,
.rectangleParent,
.vectorWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vectorWrapper {
  height: 34px;
  width: 18.1px;
  flex-direction: column;
  padding: var(--padding-2xl-5) 0 0;
  box-sizing: border-box;
}
.frameParent,
.frameWrapper,
.rectangleParent {
  width: 472.7px;
}
.frameParent {
  height: 43px;
  flex-direction: row;
  gap: var(--gap-240xl-3);
  flex-shrink: 0;
  z-index: 1;
}
.frameWrapper,
.rectangleParent {
  height: 384.4px;
}
.rectangleParent {
  flex-direction: column;
  gap: var(--gap-base-9);
}
.frameWrapper {
  flex-direction: row;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg-1);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
